@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@400;500;700&family=Lora:wght@400;500;700&display=swap");
:root {
  --dark-color: #222222;
  --tertier-color: #CE9C5D;
  --paragraf-font: "Inter", sans-serif;
  --header-font: "Lora", serif;
  --hand-font: "Great Vibes", cursive;
  --initial-margin: 10.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

button, input {
  background: transparent;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

header {
  position: absolute;
  top: 1.3rem;
  --initial-height: 9.9rem;
  width: 100%;
  height: auto;
  padding: 0 var(--initial-margin);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 9999;
}
header .logo--container {
  width: 18.452rem;
  height: 9.9rem;
}
header .logo--container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .nav--container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 3.2rem;
       column-gap: 3.2rem;
}
header .nav--container a {
  font-family: var(--paragraf-font), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.68rem;
  color: white;
  text-transform: uppercase;
}
header .nav--container a::after {
  content: "";
  display: block;
  width: inherit;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transition: transform 0.3s ease-in;
}
header .nav--container a:hover::after {
  transform: scaleX(1);
}

.banner--container {
  --initial-height: 84rem;
  position: relative;
  width: 100%;
  height: var(--initial-height);
}
.banner--container .video-overlay--container {
  width: 100%;
  height: 100%;
  position: absolute;
}
.banner--container .video-overlay--container video {
  width: 100%;
  height: var(--initial-height);
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 2s linear;
}
.banner--container .video-overlay--container video.fadeIn {
  opacity: 1;
  transition: opacity 2s linear;
}
.banner--container .content-overlay--container {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0 var(--initial-margin);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(37, 37, 37, 0) 100%);
}
.banner--container .content-overlay--container article {
  --initial-margin-top: 21.4rem;
  --initial-width: 49.5rem;
  margin-top: var(--initial-margin-top);
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 2.8rem;
  opacity: 0;
  transition: opacity 2s;
}
.banner--container .content-overlay--container article.fadeIn {
  opacity: 1;
  transition: opacity 2s ease-in;
}
.banner--container .content-overlay--container article .dynamic--paragraf-container {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.banner--container .content-overlay--container article .dynamic--paragraf-container .dynamic--paragraf, .banner--container .content-overlay--container article .dynamic--paragraf-container span, .banner--container .content-overlay--container article .dynamic--paragraf-container h2 {
  --initial-font-size: 4.8rem;
  font-family: var(--header-font);
  font-size: var(--initial-font-size);
  color: white;
  text-transform: capitalize;
  font-weight: 400;
}
.banner--container .content-overlay--container article .dynamic--paragraf-container .dynamic--paragraf span, .banner--container .content-overlay--container article .dynamic--paragraf-container span span, .banner--container .content-overlay--container article .dynamic--paragraf-container h2 span {
  font-family: var(--hand-font);
  color: var(--tertier-color);
}
.banner--container .content-overlay--container article .dynamic--paragraf-container .dynamic--paragraf, .banner--container .content-overlay--container article .dynamic--paragraf-container h2 {
  width: auto;
  max-width: calc(var(--initial-width) + 3rem);
}
.banner--container .content-overlay--container article p {
  width: var(--initial-width);
  font-family: var(--paragraf-font);
  font-size: 1.8rem;
  color: white;
  font-weight: 400;
}

.introduce--container {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.introduce--container article {
  width: 100%;
  margin-top: 9.4rem;
  padding: 0 var(--initial-margin);
}
.introduce--container article h2 {
  font-family: var(--header-font);
  font-size: 4.2rem;
  font-weight: 400;
  line-height: 5rem;
  text-align: center;
  color: var(--dark-color);
}
.introduce--container article h3 {
  font-family: var(--header-font);
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4.32rem;
  text-align: center;
  color: var(--dark-color);
  text-transform: lowercase;
}
.introduce--container article p {
  width: 101.6rem;
  font-family: var(--paragraf-font);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: center;
  color: #787878;
  margin-top: 1.2rem;
}
.introduce--container .img--container {
  width: 80%;
  height: 64.6rem;
  margin-right: var(--initial-margin);
  margin-top: 10.6rem;
}
.introduce--container .img--container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.introduce--container a {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: var(--paragraf-font);
  font-size: 1.6rem;
  color: var(--tertier-color);
  text-transform: uppercase;
  line-height: 1.92rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1.4rem;
       column-gap: 1.4rem;
  margin-top: 5.4rem;
  margin-bottom: 6.3rem;
}

.experience--container {
  width: 100%;
  height: auto;
  background: #F3F7FA;
  position: relative;
}
.experience--container article {
  margin-top: 8.3rem;
  row-gap: 1.2rem;
}
.experience--container article h2 {
  font-family: var(--header-font);
  font-size: 4.2rem;
  font-weight: 400;
  color: var(--dark-color);
  line-height: 5rem;
}
.experience--container article h3 {
  width: 86rem;
  font-family: var(--paragraf-font);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--dark-color);
  text-align: center;
}
.experience--container .card--container {
  margin-top: 9rem;
  display: grid;
  grid-template-columns: repeat(2, 60rem);
  grid-template-rows: repeat(2, 30.8rem);
  row-gap: 2.4rem;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  margin-bottom: 10rem;
}
.experience--container .card--container .card {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1490196078);
}
.experience--container .card--container .card:first-child {
  grid-column: 1/1;
  grid-row: 1/span 2;
}
.experience--container .card--container .card .card--img {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
}
.experience--container .card--container .card .card--img img {
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  transform: translateX(-10%);
}
.experience--container .card--container .card .card--body {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  padding-left: 3.2rem;
  padding-bottom: 2.1rem;
}
.experience--container .card--container .card .card--body svg {
  transform: translateY(100px) translateX(-100px);
}
.experience--container .card--container .card .card--body p {
  position: absolute;
  font-family: var(--header-font);
  font-size: 2.6rem;
  font-weight: 400;
  color: white;
}

.reasons--container {
  background: white;
  padding: 0 var(--initial-margin);
}
.reasons--container article h3 {
  margin-top: 12.4rem;
  font-family: var(--header-font);
  font-size: 4.2rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: -0.02em;
  text-align: center;
}
.reasons--container .card--container {
  margin-top: 2.8rem;
  margin-bottom: 11rem;
  gap: 2.4rem;
}
.reasons--container .card--container .card {
  padding: 0;
  border: none;
  width: 60rem;
  height: 61.8rem;
  border-radius: 3rem;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1019607843);
  overflow: hidden;
}
.reasons--container .card--container .card .card-img-top {
  width: 100%;
  height: 36rem;
}
.reasons--container .card--container .card .card-img-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reasons--container .card--container .card .card-body {
  padding: 2.8rem 4rem 4rem 4rem;
}
.reasons--container .card--container .card .card-body .card-title {
  font-family: var(--paragraf-font);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.9rem;
  letter-spacing: -0.02em;
  text-align: left;
}
.reasons--container .card--container .card .card-body .card-desc {
  font-family: var(--paragraf-font);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 1.6rem;
}
.reasons--container .card--container .card .card-body .card--btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  margin-top: 2.8rem;
}
.reasons--container .card--container .card .card-body .card--btn p {
  font-family: var(--paragraf-font);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  letter-spacing: 0.08em;
  text-align: left;
  color: var(--tertier-color);
  text-transform: uppercase;
}
.reasons--container .card--container .card .card-body .card--btn svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter--container {
  width: 100%;
  padding: 54px 241px 117px 183px;
  position: relative;
}
.letter--container .letter--outer {
  width: 1016px;
  height: 344px;
  border: solid 8px var(--tertier-color);
  border-radius: 22px;
  padding: 8px;
}
.letter--container .letter--outer .letter--inner {
  width: 100%;
  height: 100%;
  border: solid 2px var(--tertier-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 64px 36px 64px;
}
.letter--container .letter--outer .letter--inner h3 {
  font-family: var(--hand-font);
  font-size: 3.6rem;
  font-weight: 400;
  color: #787878;
  line-height: 4.32rem;
}
.letter--container .letter--outer .letter--inner h4 {
  font-family: var(--paragraf-font);
  font-size: 1.6rem;
  font-weight: 400;
  color: #787878;
  line-height: 1.92rem;
  margin-top: 2rem;
}
.letter--container .letter--outer .letter--inner p {
  font-family: var(--paragraf-font);
  font-size: 1.6rem;
  font-weight: 500;
  color: #787878;
  line-height: 1.92rem;
  margin-top: 1.1rem;
}
.letter--container .letter--outer .letter--inner button {
  font-family: var(--paragraf-font);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  letter-spacing: 0.08em;
  text-align: left;
  color: var(--tertier-color);
  text-transform: uppercase;
  margin: 2.9rem auto 0 auto;
}

.opportunities--container {
  background: #F3F7FA;
  padding-top: 8rem;
  padding-bottom: 6.3rem;
}
.opportunities--container article {
  padding: 0 29rem;
  gap: 1.2rem;
}
.opportunities--container article h3 {
  font-family: var(--header-font);
  font-size: 4.2rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: -0.02em;
  text-align: center;
}
.opportunities--container article p {
  font-family: var(--paragraf-font);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0em;
  text-align: center;
  padding: 0 16.9rem;
}
.opportunities--container .slider--container {
  width: 100%;
  overflow-x: hidden;
  --initial-width: 68rem;
  height: 55rem;
  padding-top: 3rem;
}
.opportunities--container .slider--container .slider--track {
  width: 100%;
  height: 52rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  transform: translateX(0);
  transition: transform 6s linear;
}
.opportunities--container .slider--container .slider--track .img {
  width: var(--initial-width);
  height: 52rem;
  flex-shrink: 0;
  position: absolute;
}
.opportunities--container .slider--container .slider--track .img.img-first {
  transform: translateX(calc(var(--initial-width) + 24px));
  transition: transform 0.6s;
}
.opportunities--container .slider--container .slider--track .img.img-last {
  transform: translateX(calc(var(--initial-width) * -1 - 24px));
  transition: transform 0.6s;
}
.opportunities--container .slider--container .slider--track .img.img-center {
  transform: translateX(0);
  transition: transform 0.6s;
}
.opportunities--container .slider--container .slider--track .img.img-clone {
  transform: translateX(calc(var(--initial-width) * 2 + 24px));
}
.opportunities--container .slider--container .slider--track .img.img-dump {
  transform: translateX(calc(var(--initial-width) * -2 - 24px));
  transition: transform 0.6s;
}
.opportunities--container .slider--container .slider--track .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.opportunities--container .main-cta--btn {
  margin: 4.7rem auto 6.3rem auto;
}

footer {
  width: 100%;
  background: var(--dark-color);
  padding: 0 var(--initial-margin);
}
footer .footer-nav--container {
  padding-top: 4.8rem;
  padding-bottom: 4.6rem;
  border-bottom: solid 1px #383838;
}
footer .footer-nav--container .footer--logo {
  width: 171px;
  height: 87.9px;
}
footer .footer-nav--container .footer--logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer--nav {
  gap: 3.1rem;
  margin-left: 7.79rem;
}
footer .footer--nav a {
  text-transform: uppercase;
  font-family: var(--paragraf-font);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.68rem;
  color: white;
}
footer .footer--social-media {
  width: 142.58px;
  gap: 2.4rem;
  margin-left: auto;
  margin-bottom: 2.7rem;
}
footer .footer--social-media p {
  font-family: var(--paragraf-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-align: left;
  text-transform: uppercase;
  color: white;
}
footer .footer--social-media .social-media-icon--group {
  gap: 2.4rem;
  width: 100%;
  padding: 0;
}
footer .footer--social-media .social-media-icon--group li {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
footer .footer--copyright {
  margin-top: 2.6rem;
  margin-bottom: 2.5rem;
}
footer .footer--copyright p, footer .footer--copyright span {
  font-family: var(--paragraf-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
footer .footer--copyright p {
  color: #868686;
}
footer .footer--copyright p span {
  color: var(--tertier-color);
}
footer .footer--copyright .copyright--nav {
  margin-left: auto;
}
footer .footer--copyright .copyright--nav a {
  font-family: var(--paragraf-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #868686;
  text-transform: capitalize;
}
footer .footer--copyright .copyright--nav a:first-child {
  padding-right: 1.6rem;
  border-right: solid 1px #868686;
}
footer .footer--copyright .copyright--nav a:last-child {
  padding-left: 1.6rem;
}

.timed--popup {
  position: absolute;
  top: 1500px;
  z-index: 888;
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 5rem 0;
  transform: scale(0);
  transition: transform 0.6s;
}
.timed--popup.isActive {
  transform: scale(1);
}
.timed--popup .popup--container {
  width: 909px;
  background: white;
  border-radius: 2rem;
  padding: 5rem 3.2rem 3.2rem 3.2rem;
  row-gap: 4.2rem;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}
.timed--popup .popup--container article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.8rem;
  margin: 0;
}
.timed--popup .popup--container article h3 {
  font-family: var(--header-font);
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--dark-color);
  text-transform: capitalize;
}
.timed--popup .popup--container article p {
  font-family: var(--paragraf-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.timed--popup .popup--container form .personal, .timed--popup .popup--container form .company {
  gap: 1.8rem;
}
.timed--popup .popup--container form .personal p, .timed--popup .popup--container form .company p {
  font-family: var(--paragraf-font);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--dark-color);
}
.timed--popup .popup--container form .personal .input--group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1.8rem;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
}
.timed--popup .popup--container form .company {
  margin-top: 3.6rem;
}
.timed--popup .popup--container form .company .input--group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  row-gap: 1.8rem;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
}
.timed--popup .popup--container form .btn--group {
  gap: 1.2rem;
  width: 100%;
  margin-top: 3.9rem;
}

.letter--popup-outer {
  position: absolute;
  z-index: 888;
  width: 1016px;
  background: white;
  border-radius: 2.2rem;
  border: 8px solid var(--gold, #CE9C5D);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
  transform: scaleY(0);
  transition: transform 0.6s;
}
.letter--popup-outer.isActive {
  transform: scaleY(1);
}
.letter--popup-outer .letter--popup {
  height: 100%;
  border-radius: 1.2rem;
  border: 2px solid var(--gold, #CE9C5D);
  padding: 4rem 6.4rem 2.6rem 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.letter--popup-outer .letter--popup .opener {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 1.6rem;
}
.letter--popup-outer .letter--popup .opener h3, .letter--popup-outer .letter--popup .opener p {
  color: #787878;
}
.letter--popup-outer .letter--popup .opener h3 {
  font-family: var(--hand-font);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 43.2px */
}
.letter--popup-outer .letter--popup .opener p {
  font-family: var(--paragraf-font);
}
.letter--popup-outer .letter--popup .opener .uncolored {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.letter--popup-outer .letter--popup .opener .colored {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: var(--tertier-color);
}
.letter--popup-outer .letter--popup .index {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -moz-column-gap: 14.9rem;
       column-gap: 14.9rem;
  row-gap: 2rem;
  margin-top: 4.3rem;
}
.letter--popup-outer .letter--popup .index .point {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.6rem;
}
.letter--popup-outer .letter--popup .index .point h4 {
  font-family: var(--paragraf-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
  color: var(--dark-color);
}
.letter--popup-outer .letter--popup .index .point p {
  color: #787878;
  font-family: var(--paragraf-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.letter--popup-outer .letter--popup .closing {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 1.6rem;
}
.letter--popup-outer .letter--popup .closing h5 {
  font-family: var(--paragraf-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
}
.letter--popup-outer .letter--popup .closing h5 a {
  font-family: var(--paragraf-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-decoration: underline;
  color: var(--tertier-color);
}
.letter--popup-outer .letter--popup .closing p {
  font-family: var(--paragraf-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #787878;
}
.letter--popup-outer .letter--popup .sign {
  font-family: var(--hand-font);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 43.2px */
  color: #787878;
  margin-top: 4.5rem;
  margin-left: auto;
}
.letter--popup-outer .letter--popup .close--letter {
  font-family: var(--paragraf-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  letter-spacing: 1.28px;
  color: var(--tertier-color);
  text-transform: uppercase;
  margin-inline: auto;
  margin-top: 3.8rem;
}

.main-cta--btn {
  --initial-padding-block: 1.75rem;
  --initial-padding-inline: 2.8rem;
  --initial-border-radius: 2.7rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--paragraf-font);
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  background: var(--tertier-color);
  padding: var(--initial-padding-block) var(--initial-padding-inline);
  border-radius: var(--initial-border-radius);
}

.outline--btn {
  --initial-padding-block: 1.75rem;
  --initial-padding-inline: 2.8rem;
  --initial-border-radius: 2.7rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--paragraf-font);
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--tertier-color);
  text-transform: uppercase;
  border: solid 1px var(--tertier-color);
  padding: var(--initial-padding-block) var(--initial-padding-inline);
  border-radius: var(--initial-border-radius);
}

.input {
  width: 100%;
  padding: 2rem 1.8rem 2rem 2.4rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #D3D2D5;
}
.input input {
  width: 100%;
}
.input input::-moz-placeholder {
  font-family: var(--paragraf-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #B9B9B9;
}
.input input::placeholder {
  font-family: var(--paragraf-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #B9B9B9;
}/*# sourceMappingURL=style.css.map */